@model Budgeter.Models.BankAccount

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BankAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.household.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.household.Name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Name)*@
            Bank

        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id })*@
    <a class="btn btn-danger" href="@Url.Action("Index", "Home")">Back to List</a>
</p>



<!-- Transaction starts here-->
<h2>Transactions</h2>
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.BankAccount.Name)*@
            Bank Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Type.Name)*@
            Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Payee)*@
            Payee
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Description)*@
            Description
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Created)*@
            Date
        <th>
            @*@Html.DisplayNameFor(model => model.Amount)*@
            Amount
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.CaterogyId)*@
            Category
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.EnteredById)*@
            Entered By
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.IsDeleted)
                Is Deleted
            </th>*@
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.Transactions)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BankAccount.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnteredById)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>*@
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@

                <a href="@Url.Action("Edit", "Transactions", new { id = item.Id })" title="Edit" style="width: 26px ; height: 26px" class="btn btn-xs btn-warning"><i class="fa fa-edit"></i></a>
                <a href="@Url.Action("Details", "Transactions", new { id = item.Id })" title="Details" style="width: 26px ; height: 26px" class="btn btn-xs btn-info"><i class="fa fa-eye"></i></a>
                <a href="@Url.Action("Delete", "Transactions", new { id = item.Id })" title="Delete" style="width: 26px ; height: 26px" class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
    }

</table>